@import "material/color-definitions";

html {
  font-family: 'Roboto', sans-serif;
}

$mdc-theme-primary: $palette-blue-grey-800;
$mdc-theme-secondary: $palette-lime-500;
$mdc-theme-background: $palette-grey-50;
$mdc-theme-outline: $palette-grey-200;
